{% extends 'base.html' %}
{% block meta %}
{% endblock meta %}

{% block content %}
<div class="flex flex-col justify-center items-center h-screen">
    <div class="pb-4">
        <p class="text-3xl text-green-500 font-bold">
            Create Task
        </p>
    </div>

    <div>
        <form action="/todolist/create-task/" method="post">
            {% csrf_token %}
            <table>
                <div class="">
                    <tr>
                        <td>
                            <p class="text-lg pr-4">Title</p>
                            <input type="text" name="title" placeholder="Enter title" 
                            class="border-1 rounded 
                                focus:border-2 focus:border-green-700 mb-2">
                        </td>
                    </tr>
                </div>
                        
                <tr>
                    <td>
                        <p class="text-lg pr-4">Description</p>
                        <input type="text" name="description" placeholder="Enter description" 
                            class="border-1 rounded 
                            focus:border-2 focus:border-green-700 mb-2">
                    </td>
                </tr>
                <tr class="flex flex-row justify-center items-center">
                    <td>
                        <button class="text-white bg-gray-700 
                        hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 
                        font-medium rounded-lg text-sm px-5 py-2.5 mr-2 
                        mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 
                        focus:outline-none dark:focus:ring-gray-800
                        my-4">
                            <a href="{% url 'todolist:show_todolist' %}">
                                Back
                            </a>
                        </button>
                    </td>
                    <td>
                        <input type="submit" value="Add Task" class="text-white bg-green-700 
                        hover:bg-green-800 focus:ring-4 focus:ring-green-300 
                        font-medium rounded-lg text-sm px-5 py-2.5 mr-2 
                        mb-2 dark:bg-green-600 dark:hover:bg-green-700 
                        focus:outline-none dark:focus:ring-green-800
                        my-4">
                    </td>
                </tr>
                <tr>

                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock content %}