<html>
    {% load static %}
    <head>
        <title>Jeremy Alva PBP Tugas 4</title>
        <link rel="stylesheet" href="{% static 'css/todolist.css' %}">
    </head>
    
    {% block content %}
    
    <!-- Active tasks go here -->
    <div class="app">
        <div class="user-section">
            <div class="user-name">{{username}}</div>
            <div class="user-details">is logged in</div>
        </div>

        <button class="add-task"><a href="{% url 'todolist:create_task' %}">Add Task</a></button>

        {% if active_tasks_on == False and finished_tasks_on == False %}
            <p class="no-tasks-yet">No tasks yet.</p>
        {% else %}
            {% if active_tasks_on %}
                <div class="todolist">
                    <table>
                        <div class="todolist-title">Active Tasks</div>
                        <div class="finished-message">Let's do this! {{ active_tasks_count }} task left.</div>
                        <tr class="todolist-header">
                            <th>Title</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Task Status</th>
                            <th>Finish</th>
                            <th>Delete Task</th>
                        </tr>
                        
                        
                        {% for task in active_tasks %}
                            <tr class="task-item">
                                <th>
                                    {{task.title}}
                                </th>
                                <th>
                                    {{task.date}}
                                </th>
                                <th>
                                    {{task.description}}
                                </th>
                                <th>
                                    {% if task.is_finished %}
                                        Finished
                                    {% else %}
                                        Not Finished
                                    {% endif %}
                                </th>
                                <th>
                                    <button type="submit" class="toggle-status">
                                        <a href="{% url 'todolist:toggle_status' id=task.id %}">
                                            ✅
                                        </a>
                                    </button>
                                </th>
                                <th class="th-delete-task">
                                    <button type="submit" class="delete-task"><a href="{% url 'todolist:delete_task' id=task.id %}">❌</a></button>
                                </th>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            
            
            <!-- Completed tasks go here -->
            {% if finished_tasks_on %}
                <div class="finished-tasks">
                    <table>
                        
                        <div class="finished-tasks-title">Finished Tasks</div>
                        <div class="finished-message">Congrats! You have {{ finished_tasks_count }} finished task</div>
                        <tr class="finished-tasks-header">
                            <th>Title</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Task Status</th>
                            <th>Unfinish</th>
                            <th>Delete Task</th>
                        </tr>
                        {% for task in finished_tasks %} 
                            <tr class="finished-task-item">
                                <th>
                                    {{task.title}}
                                </th>
                                <th>
                                    {{task.date}}
                                </th>
                                <th>
                                    {{task.description}}
                                </th>
                                <th>
                                    {% if task.is_finished %}
                                        Finished
                                    {% else %}
                                        Not Finished
                                    {% endif %}
                                </th>
                                <th>
                                    <button type="submit" class="toggle-status">
                                        <a href="{% url 'todolist:toggle_status' id=task.id %}">
                                            ✅
                                        </a>
                                    </button>
                                </th>
                                <th class="th-delete-task">
                                    <button type="submit" class="delete-task"><a href="{% url 'todolist:delete_task' id=task.id %}">❌</a></button>
                                </th>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        {% endif %}
    
        <button class="logout"><a href="{% url 'todolist:logout' %}">Logout</a></button>    
    {% endblock content %}
    </div>
</html>