{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
  <h1>PBP Assignment Repository</h1>
  <h3>Jeremy Alva Prathama - PBP-B - 2106640354</h3>
  <p style="font-size: 1.2rem;">1. Find the catalog page 
    <a href='./katalog' style="font-style: bold;">here</a>
  </p> 
  <p style="font-size: 1.2rem;">2. Find the mywatchlist page 
    <a href='./mywatchlist' style="font-style: bold;">here</a>
  </p> 
  <p style="font-size: 1.2rem;">3. Find the todolist page 
    <a href='./todolist' style="font-style: bold;">here</a>
  </p> 
{% endblock content %}