{% extends 'base.html' %}
  
 {% block content %}
  <head>
    
  </head>
  <div class="container">
    <h1 class="title">Tugas 3 PBP</h1>
    <p>{{ nama }}</p>
    <p>NPM: {{ npm }}</p>

    <hr>

    <p style="font-size: 1.2rem;">Find the html page 
      <a href='./html' style="font-style: bold;">here</a>
    </p> 

    <p style="font-size: 1.2rem;">Find the xml page 
      <a href='./xml' style="font-style: bold;">here</a>
    </p> 

    <p style="font-size: 1.2rem;">Find the json page 
      <a href='./json' style="font-style: bold;">here</a>
    </p>     
  </div>

 {% endblock content %}
